@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "董办审核";
    var targetid= (Guid)this.ViewData["targetid"];
}

@section customStyle{


}
<!-- 主标题 begin -->
<div class="ov-tit ov-line rel clearfix">
    <input id="targetid" type="hidden" value="@(targetid)" />
    <h1 class="ov-theme">董办审核</h1>

    @*<div class="search_ul">
        <select name="search_status" class="form-control search_Type" id="I_search_status">
            <option value="-1">--所有--</option>
            <option value="@((int)Salary_MVC.Enum.ApproveStatus.待发起审核)">@(Salary_MVC.Enum.ApproveStatus.待发起审核.ToString())</option>
            <option value="@((int)Salary_MVC.Enum.ApproveStatus.待财务审核)">@(Salary_MVC.Enum.ApproveStatus.待财务审核.ToString())</option>
            <option value="@((int)Salary_MVC.Enum.ApproveStatus.财务同意)">@(Salary_MVC.Enum.ApproveStatus.财务同意.ToString())</option>
            <option value="@((int)Salary_MVC.Enum.ApproveStatus.财务否决)">@(Salary_MVC.Enum.ApproveStatus.财务否决.ToString())</option>
        </select>
        <input type="text" name="search_name" class="form-control" id="I_search_name" placeholder="请输入姓名">
        <a class="search_ul_a" id="search_button">查询</a>
    </div>*@
    @*<div class="icon_fun abs bot10">
        <a class="add_right_btn add_Sale_code" id="open_Increase_Modal">新增</a>
        <a class="add_right_btn add_Sale_code" id="open_Approve_Modal">发起审核</a>
    </div>*@

</div>
<!-- 主标题 end -->
<!-- 内容表格 begin -->
<div class="ov-form table-responsive I_department_form">
    <!-- 表格数据 -->
    <p id="I_department_Title"><span></span>各部门工资</p>
    <table class="table table-striped table-bordered" id="I_department">
        <thead>
        </thead>
        <tbody></tbody>
    </table>

    <p id="I_financeUnit_Title"><span></span>各财务核算单位工资</p>
    <table class="table table-striped table-bordered" id="I_financeUnit">
        <thead>
        </thead>
        <tbody></tbody>
    </table>
    <p id="totalEmployee">总人数:<span></span></p>
    <p id="totalMoney">总金额（万元）:<span></span></p>
</div>
<div class="ov-tit ov-line">
    <a class="add_Sale_code" href="~/MonthlySalary/ApproveDetail?targetid=@(targetid)">工资详情→</a>
    <a class="add_Sale_code" id="btn_download" data-id="@(targetid)">下载工资数据</a>
</div>

<div id="section-msg">
    <p><span></span></p>
</div>
<div id="section-handler">
    <div class="form-group clearfix">
        @*<label id="add_lbl_status" class="col-md-3 control-label">审批</label>*@
        <div class="col-md-8">
            <label class="lbl_add_status"><input type="radio" name='approve_Handler' value='0' class='add_status' checked='checked'>通过</label>
            <label class="lbl_add_status"><input type="radio" name='approve_Handler' value='1' class='add_status'>不通过</label>
        </div>
    </div>
    <div class="form-group clearfix">
        @*<label id="add_lbl_TrueName" class="col-md-3 control-label">审批意见</label>*@
        <div class="col-md-8">
            <input name="approve_Comment" type="text" value="" rule="/\\S/" id="approve_Comment" class="form-control Idata" placeholder="审批意见">
        </div>
    </div>
    <div class="form-group clearfix">
        @*<label id="add_lbl_TrueName" class="col-md-3 control-label">审批意见</label>*@
        <div class="col-md-8">
            <a class="add_Sale_code" id="Approve_primary">确定</a>
        </div>
    </div>
    
</div>
<!-- 内容表格 end -->
<!-- 新增弹层 -->

@section customScript{
    <script>
        var monthValue = "@(DateTime.Now.ToString("yyyy-MM-dd"))";
        layui.use('laydate', function () {

            //初始数据
            try {
                GetAppendData()//获取初始表数据
            } catch (err) {
            }

        });


    </script>


    <script>
        // 表格数据
        var page_first = 0; //第一次获取列表数据
        var editID = ''; //编辑id
        // 翻页
        var cfothrough="@((int)Salary_MVC.DataModel.GZ_MonthlySalaryMaster.MonthlySalaryStatus.CFO同意)";
        function GetAppendData() {
            showLoad();
            var data_head = `<tr>
                                                  
                                                    <th class =" width-md">序号</th>
                                                     <th class =" width-md">部门</th>
                                                    <th class =" width-md">上月金额（万元）</th>
                                                    <th class =" width-md">本月金额（万元）</th>
                                            </tr>`;
            $('#I_department thead').html(data_head);

            var data_headFinanceUnit = `<tr>

                                                    <th class =" width-md">序号</th>
                                                     <th class =" width-md">核算单位</th>
                                                    <th class =" width-md">上月金额（万元）</th>
                                                    <th class =" width-md">本月金额（万元）</th>
                                            </tr>`;
            $('#I_financeUnit thead').html(data_headFinanceUnit);
            var targetid = $("#targetid").val();
            $.ajax({
                type: 'POST',
                url: '../MonthlySalary/GetEntityByCEO',
                data: {
                    'targetid': targetid
                },
                dataType: "json",
                success: function (data) {
                    hideLoad();
                    if (data.ResultType == 200) {
                        var data_box = data.AppendData.DepartmentMonty;
                        var data_unit = data.AppendData.FinanceMoney;
                        var data_thead = []; //表头的数组
                        var data_main = '';//表内容
                        var data_main_financeUnit = '';//表内容
                        var data_length = data_box.length; //内容条数
                        for (var i = 0; i < data_length; i++) {
                            if (page_first == 0) {
                                page_first = 1;
                                if (i == 0) {

                                }
                            }
                            var element = data_box[i];
                            data_main += `<tr data-id="${data_box[i].Id}">
                                            <td>${data_box[i].Index}</td>
                                            <td>${data_box[i].Name}</td>
                                            <td>${data_box[i].LastMonthMoney}</td>
                                            <td>${data_box[i].MonthMoney}</td>
                                        </tr>`
                            
                        }

                        for (var i = 0; i < data_unit.length; i++) {
                            data_main_financeUnit += `<tr data-id="${data_unit[i].Id}">
                                            <td>${data_unit[i].Index}</td>
                                            <td>${data_unit[i].Name}</td>
                                            <td>${data_unit[i].LastMonthMoney}</td>
                                            <td>${data_unit[i].MonthMoney}</td>
                                        </tr>`
                        }
                        $('#I_department tbody').html(data_main);
                        $('#I_financeUnit tbody').html(data_main_financeUnit);
                        $("#I_department_Title span").text(data.AppendData.Master.Month);
                        $("#I_financeUnit_Title span").text(data.AppendData.Master.Month);
                        $("#totalEmployee span").text(data.AppendData.TotalEmployee);
                        $("#totalMoney span").text(data.AppendData.TotalMoney);

                        if(data.AppendData.Master.Status!=cfothrough)
                        {
                            $("#section-handler").hide();
                            $("#section-msg span").text("工资的审核状态为："+data.AppendData.Status);
                        }

                    } else {
                        ErrorBox(data.Message);
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ErrorBox('暂无数据内容');
                    hideLoad();
                }
            })
        }


        //下载工资列表
        $("body").on("click", "#btn_download", function () {
            var I_search_month = $("#I_department_Title span").text();
            var url = "../MonthlySalary/ExportList?month=" + I_search_month
            zlpost(url, {}, function () {
                $("body").append('<iframe src="' + url + '" height="0"></iframe>')
            });
            return false;
        });
        //查看审核进度btn_ApproveLog
        //发起审核-确定
        $("body").on('click', '#Approve_primary', function () {
            showLoad();
            var approve_Handler = $('.add_status:checked').val();
            var approve_Comment = $("#approve_Comment").val();
            var targetid = $("#targetid").val();
            $.ajax({
                type: "post",
                url: '../MonthlySalary/ApproveByCEO',
                data: {
                    "Id": targetid,
                    "Handler": approve_Handler,
                    "Comment": approve_Comment
                },
                dataType: "json",
                success: function (result) {
                    hideLoad();
                    var data = result;
                    if (data.ResultType == 200) {
                        SuccessBox(data.Message);
                        GetAppendData();
                    } else {
                        ErrorBox(data.Message);
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    hideLoad();
                }
            });
        });
    </script>
}
